<nav
  class="navbar navbar-expand-xl my-2 bg-dark border-bottom border-body"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand mt-0" href="/">Quiz Master</a>
    <div class="d-flex">
      <li class="">
        <a href="{{url_for('user_dashboard')}}" class="btn btn-sm  btn-primary mt-0">
               Home
           </a>
            <a href="{{url_for('user_scores')}}" class="btn btn-sm btn-outline-primary mt-0">
               Scores
           </a>
          <a href="{{url_for('user_summary')}}" class="btn btn-sm btn-outline-primary mt-0">
               Summary
           </a>
      </li>
        <form action="/userSearch" method="post" class="px-3 pt-0 mt-0">
                <input type="text" name="param" class="form-control form-control-sm" placeholder="Search">
            </form>
      <li class="pt-2">
        <span class="text-white">Welcome, {{session['user_id']}}</span>
      </li>
      <li>
        <a href="/logout" class="btn btn-sm btn-danger mt-0">Logout</a>
      </li>
    </div>
  </div>
</nav>

<style>
  .navbar {
    width: 100%;
    padding: 0;
  }
</style>
