{% extends 'base.html' %} {% block title %} Quiz Master {% endblock %} {% block
content %} {% include 'admin/adminNav.html' %}

<form
  method="post"
  class="text-center py-4 mt-5 text-white"
  action="/chapter/delete?chapter={{chapter_id}}"
>
  <h1 class="h3 text-center text-white">Delete Chapter</h1>
  <div class="row col-lg-12 pt-5 mx-auto">
    <div class="col-lg-6 mx-auto">
      <div class="input-group mb-3 col-lg-4">
        <span class="input-group-text"
          >Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
        >
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          required
          value="{{chapter.name}}"
          disabled
        />
      </div>
      <div class="input-group mb-3 col-lg-4">
        <span class="input-group-text">Description&nbsp;&nbsp;&nbsp;</span>
        <textarea
          class="form-control"
          id="desc"
          name="desc"
          rows="3"
          required
          disabled
        >
{{chapter.desc}}</textarea
        >
      </div>

      <div class="col-lg-12 mt-3 gap-3">
        <input type="submit" value="Delete Chapter" class="btn btn-danger" />
        <a class="btn btn-warning" href="{{url_for('admin_dashboard')}}"
          >Go Back</a
        >
      </div>
    </div>
  </div>
</form>

{% endblock %} {% block script %} {% endblock %}
